@{
  ViewData["Title"] = "Videos about Dash";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<article class="block block__content clearfix" itemscope="" itemtype="http://schema.org/Article">
	<div class="content">
		<a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA/videos">All these videos can be found on the official DASH youtube channel!</a>
		<h3 id="preface">DASH School by Amanda B. Johnson</h3>
		<ol>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/e7UwwcCKj4Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/eS39N-mHrOs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/DyywtVNlfFs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/jHsVU1LBuAY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/hm7IYkgIOXc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/vFwXeFk6VO8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
		</ol>
		<br /><br />
		<h3>Dash 101 in German (newer video series from early 2018 by Aaron Koenig, more languages below)</h3>
		<ol>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/0YyDGu17IE4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/_14SLz5bwMk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/OonawDJe05w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/mYwaguGZpDg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/b9sRQbC79FU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/zECp1pe8s_8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/1MFit0sVkN8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/m-luflpesOs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
		</ol>
		<br /><br />
		<h3>Dash 101 (newer video series from early 2018 by Aaron Koenig, coming in more languages soon)</h3>
		<ol>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/DzH7cMbZQHI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/nFD5KoqIfis" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/FkqgN6SBn8w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/-UJctWmcEQ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/waRC5GOMVvY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/8SteyOmwMr8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/v_HwQAyIQns" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/EDnS4HW5QHw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
		</ol>
		<br /><br />
		<h3>Other good videos about Blockchain, Bitcoin & Dash</h3>
		<ol>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/S0oNO3mbBE8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Um63OQz3bjo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/LuA3xb-L8r8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/8JEnW7bGcQ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
			<li>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/tfKjKPPmFb0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</li>
		</ol>
		<br /><br />
		<ul>
			<li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146924/PrivateSend">Official DASH Documentation</a></li>
			<li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA/videos">Dash youtube channel</a></li>
			<li><a href="https://www.youtube.com/channel/UCiAW4HQiYjpPmyi4v905u1A">Dash Force News youtube channel, another great source of weekly news and podcasts</a></li>
			<li>Back to the <a href="/About">general help</a>.</li>
		</ul>
	</div>
</article>