@{
  ViewData["Title"] = "Why is MyDashWallet so fast? How does it work?";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<article class="block block__content clearfix" itemscope="" itemtype="http://schema.org/Article">
	<div class="content">
		<h3 id="preface">Speed and Technology</h3>
		<p><a href="/">MyDashWallet.org</a> aims to be the fastest way to access your Dash. The whole main site works in javascript, except for a small bunch of helper tools (Dash USD price from coinmarketcap, discovery of your dash wallet balance) all runs locally on your computer until you start spending some Dash. Since you are not talking to an online server once the site is loaded, everything runs on your PC in your browser and is fast.</p>
		<p>The website is also designed in a way that you pretty much only call the url or click your bookmark and you are right where you left last time. This includes hardware wallets, which have to be unlocked, but once you do that the site will automatically log you in (no matter if you use a Ledger wallet, TREZOR or both, whatever is connected and found will be used). If we did our job right this should be more comfortable and way quicker than any other wallet you have on your computer.</p>
		<p>MyDashWallet can only work properly when Javascript is enabled and when local storage is allowed, if not some crucial features are disabled in your browser. For example in private browsing mode the site might still work, but be a lot slower as no caching can be used and you need to start over every time you visit (which is obviously the recommended way if this is not your PC). If the site is slow for you or doesn't work on your platform or configuration, please contact <a href="mailto:Support@MyDashWallet.org">support</a>.</p>
		<h3 id="how-to">How does it work?</h3>
		<p>If you are technically versed you can check out the javascript that is running in your browser or look at the <a href="https://github.com/DeltaEngine/MyDashWallet">Source code on github</a>.</p>
		<p>More and more features will be added over time if this becomes useful for Dash users and especially if Masternodes keep voting in proposals for upcoming features. Currently we got:</p>
		<ul>
			<li>Full support for Ledger Nano and TREZOR Hardware Wallets, this is the main way the site should be used</li>
			<li>You can also create a Keystore Wallet in your browser and save it locally (e.g. on an USB drive). You can only access it if you have your secure password!</li>
			<li>The "Send Dash" part of the main website (once you have unlocked either your hardware wallet or keystore file) will discover your used Dash addresses automatically in the background and fill in information. This data is cached in your browser so next time it is available right away.</li>
			<li>When you want to send some Dash a new transaction is created, which has to be confirmed by the connected hardware device (or via your keystore file).</li>
			<li>Like in the full wallet you can use <a href="/AboutInstantSend">InstantSend</a> and <a href="/AboutPrivateSend">PrivateSend</a>.</li>
			<li>If you like to see more features, let us know in the <a href="https://www.dash.org/forum/threads/mydashwallet-with-tipping-and-hardware-wallet-support.20566/">forums</a>.</li>
		</ul>
		<br /><br/>
		Back to the <a href="/About">general help</a>.
	</div>
</article>