@{
  ViewData["Title"] = "How to does DASH InstantSend work on MyDashWallet?";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<article class="block block__content clearfix" itemscope="" itemtype="http://schema.org/Article">
	<div class="content">
		<p>InstantSend is basically a flag you set on your transaction and once send out it will be confirmed by masternodes within 1-2 seconds. We have no idea why this is so difficult for many other wallets or exchanges to implement, it is one of the simpliest Dash features.</p>
		<p>InstantSend will automatically increase the tx cost to 0.1mDASH per input, which is hard coded into the full wallet and nodes. If you want cheaper fees simply don't use InstantSend, normal transactions are confirmed within 2-3 minutes and can cost around 50 times less.</p>
		<p>On the Bitcoin network you shouldn't trust unconfirmed transactions, which might be stuck for hours, days or weeks and can be double spend in that time. Only when you see that the transaction has been included in a block by a miner you can be sure that the money actually arrived in your wallet and is irreversibly yours.</p>
		<p>On the Dash network the same applies, but blocks are not full (yet) and are confirmed within 2-3 minutes, it is very hard to double spend in such a short amount of time. To be safe you should wait for 6 confirmation (about 15 minutes) like the full Dash wallet does by default. Now you can be absolutely sure the Dash that was send to you is yours. With InstantSend you can shorten that time to one second, if this is important for you when purchasing, being a merchant or you just don't wanna wait for a bigger amount to safely arrive, simply use InstantSend, it is still far cheaper than any other bitcoin-derived blockchain in the top 10.</p>
		<p>Note: MyDashWallet will always spend your confirmed inputs (the amount you see on the right), if InstantSend was used received Dash can be spend right away. For unconfirmed Dash you might have to wait a short time (a few minutes, the site will refresh all your address balances every 10 seconds). For details on unconfirmed inputs check the comments on the <a href="/AboutTransactionFees">Transaction Fees</a> page.</p>
		<p>Currently Trezor's internal composeAndSignTx functionality does not expose InstantSend functionality, this will be improved by composing transactions manually in the future (<a href="https://www.dash.org/forum/threads/mydashwallet-with-tipping-and-hardware-wallet-support.20566/">let us know if this important for you</a>).</p>
		<br />
		<ul>
			<li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146928/InstantSend">Official documentation on Dash InstantSend</a></li>
			<li><a href="https://www.youtube.com/watch?v=HJx82On8jig">Video on How Dash InstantSend works and protects Merchants from Double Spends</a></li>
			<li>  <a href="/AboutVideos">More great videos about Dash</a>.  </li>
			<li>Back to the <a href="/About">general help</a>.</li>
		</ul>
	</div>
</article>