@{
  ViewData["Title"] = "Videos about Dash";
}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<article class="block block__content clearfix" itemscope="" itemtype="http://schema.org/Article">
	<div class="content">
		<h3 id="preface">How to install a lite wallet like Jaxx on your mobile phone or PC</h3>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/HL2pcHprw6o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<br /><br />
		<a class="btn" data-toggle="collapse" data-target="#englishDashSchool">English Videos: DASH School by Amanda B. Johnson</a>
		<div id="englishDashSchool" class="collapse">
			<br />
			<ol>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/e7UwwcCKj4Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/eS39N-mHrOs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/DyywtVNlfFs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jHsVU1LBuAY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/hm7IYkgIOXc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/vFwXeFk6VO8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
			</ol>
			<br />
		</div><br />
		<a class="btn" data-toggle="collapse" data-target="#german101">German Videos: Dash 101</a>
		<div id="german101" class="collapse">
			<br />
			<ol>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/0YyDGu17IE4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/_14SLz5bwMk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/OonawDJe05w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/mYwaguGZpDg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/b9sRQbC79FU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/zECp1pe8s_8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/1MFit0sVkN8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/m-luflpesOs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
			</ol>
			<br />
		</div><br />
		<a class="btn" data-toggle="collapse" data-target="#spanish101">Spanish Videos: Dash 101</a>
		<div id="spanish101" class="collapse">
			<br />
			<ol>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/AwqrG_K8nzw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/kdm_eeiOM98" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/DvZDmi6gxvI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/lyRWbrk0IiM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/kR86q2K98zc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ETZoBjbKgro" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/5UpKzt0ZsJM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/FnYKwg-f_nY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
			</ol>
			<br />
		</div><br />
		<a class="btn" data-toggle="collapse" data-target="#russian101">Russian Videos: Dash 101</a>
		<div id="russian101" class="collapse">
			<br />
			<ol>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/cAPgPUMVwzo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/DgCxZAmOedA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/CDstVbXGP2E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/XQ0PXwkoqBc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/4gSJTRO5A0A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/K4EI46-Pxxs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/4_AJNq6enqU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/JSjcF20XH7w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
			</ol>
			<br />
		</div><br />
		<a class="btn" data-toggle="collapse" data-target="#english101">English Videos: Dash 101</a>
		<div id="english101" class="collapse">
			<br />
			<ol>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/DzH7cMbZQHI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/nFD5KoqIfis" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/FkqgN6SBn8w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/-UJctWmcEQ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/waRC5GOMVvY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/8SteyOmwMr8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/v_HwQAyIQns" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/EDnS4HW5QHw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
			</ol>
			<br />
		</div><br />
		<a class="btn" data-toggle="collapse" data-target="#otherVideos">Other good videos about Blockchain, Bitcoin & Dash</a>
		<div id="otherVideos" class="collapse">
			<br />
			<ol>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/S0oNO3mbBE8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Um63OQz3bjo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/LuA3xb-L8r8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/8JEnW7bGcQ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/tfKjKPPmFb0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</li>
			</ol>
			<br />
		</div>
		<br /><br />
		<ul>
			<li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA/videos">All these videos can be found on the official DASH youtube channel!</a></li>
			<li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146924/PrivateSend">Official DASH Documentation</a></li>
			<li><a href="https://www.youtube.com/channel/UCAzD2v9Yx4a4iS2_-unODkA/videos">Dash youtube channel</a></li>
			<li><a href="https://www.youtube.com/channel/UCiAW4HQiYjpPmyi4v905u1A">Dash Force News youtube channel, another great source of weekly news and podcasts</a></li>
			<li>Back to the <a href="/About">general help</a>.</li>
		</ul>
	</div>
</article>