@{
  ViewData["Title"] = "How to does DASH PrivateSend work on MyDashWallet?";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<article class="block block__content clearfix" itemscope="" itemtype="http://schema.org/Article">
	<div class="content">
		<h3 id="preface">Speed and Technology</h3>
		<p>PrivateSend is currently only possible with full node by using the Dash Core full Wallet on your PC. It requires pre-mixing of your Dash into newly generated addresses by the masternodes of the Dash network, which can take a few hours. No hardware wallet or thin client supports this feature, but MyDashWallet gives you the option to send your Dash into an address, which mixes it for you and sends out privatized Dash to the given target address (might be instant if we have enough pre-mixed Dash already in the MyDashWallet full node). This cannot be done trustless right now, so only use this feature if you feel comfortable sending Dash to the MyDashWallet service. One great advantage is that you can do it right away with MyDashWallet and walk away, let the service do its thing. With your own full node you have to download the full blockchain, pre-mix your coins, wait for a long time and then do the transaction.</p>
		<p>PrivateSend is be done with given denomiations (<b>10 DASH, 1 DASH, 0.1 DASH and 0.01 DASH</b>) and mixing has a small cost associated to prevent spam in the network. PrivateSend will cost you 0.1mDASH (like InstantSend) plus 0.01mDASH input for each denomiation (e.g. if you send 0.034 DASH, this requires 4 inputs, 3x 0.01 DASH and 1 extra for the remainder, again all untracable and anonymized, if you send 0.11 DASH it will require 2 denominations: 0.1 DASH + 0.01 DASH).</p>
		<p>If you are using a hardware wallet or any other HD wallet you can also send Dash to yourself (to any unused address like the receive address shown on the right). This way all the Dash you send (which can be your entire account) is anoymized and ends up for you to spend normally in that new address. Obviously if you do anything that can be traced back to you from that new receive address all other things you spend from there can also be traced back to you, so it is better to always use PrivateSend if you want to make sure nothing can be traced back to you.</p>
		<p>MyDashWallet provides PrivateSend in these quick simple steps</p>
		<ul>
			<li>Click the PrivateSend checkbox to enable it for your current transaction before sending out your coins.</li>
			<li>Confirm the transaction with your hardware wallet (make sure you read all of the transaction details) or keystore file password.</li>
			<li>The Dash WILL NOT be send directly to your target address, but instead to a new random MyDashWallet generated Dash address, where it will be put into a mixing pool.</li>
			<li>If there is enough pre-mixed Dash available in this mixing pool, your target address will get the PrivateSend transaction immediately. Otherwise this will have to wait until enough inputs are available after a bit of mixing (few minutes up to a few hours, especially high amounts won't be available quickly).</li>
			<li>The generated address MyDashWallet originally send your Dash to is deleted, as well as all information about the target address. NEVER send any Dash to such an generated address after the initial MyDashWallet PrivateSend, we CANNOT recover it anymore, we also cannot tell you the target address after it has been deleted, this is the whole point of PrivateSend, no one should be able to determinate who send what amount to whom.</li>
			<li>AGAIN as this is important: Once your PrivateSend transaction is through ALL of the information from the generated address and the target address is DELETED and we cannot help you or anyone restorting that information. ONLY if the PrivateSend is stuck in our service wallet and only if you know the target address we could check why it hasn't been send out (via support@MyDashWallet.org), but once it is send out, it is gone from our wallet and we can't help you anymore.</li>
			<li>Normally the whole process takes a few seconds for small amounts and you can check your target address immediately and see the given amount of anonymous coins arrive there.</li>
			<li>If you don't trust this service PLEASE USE the full wallet, which is the only way to do it properly without trusting a service node in the network.</li>
			<li>Note: You can combine <a href="/AboutInstantSend">InstantSend</a> with PrivateSend, which will increase the tx cost by 0.1mDASH per input for InstantSend and an additional 0.1mDASH plus 0.01mDASH per PrivateSend denomination. This will immediatetly confirm your coins for mixing, but this does not mean the mixed coins are available and can be send out to your target address (for small amounts there is usually enough pre-mixed Dash, but if not you need to wait until the next mixing round is done).</li>
		</ul>
		<br /><br/>
		<ul>
			<li><a href="https://dashpay.atlassian.net/wiki/spaces/DOC/pages/1146924/PrivateSend">Official PrivateSend Documentation</a></li>
			<li><a href="https://www.youtube.com/watch?v=vgCId3wJc5Y">Great explanation video by Amanda on how Dash's PrivateSend works under the hood</a></li>
			<li>  <a href="/AboutVideos">More great videos about Dash</a>.  </li>
			<li>Back to the <a href="/About">general help</a>.</li>
		</ul>
	</div>
</article>