@{
	ViewData["Title"] = "Scan QR Code";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<script type="text/javascript" src="instascan.min.js"></script>
<video id="preview"></video>
<script type="text/javascript">
	let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
	scanner.addListener('scan', function (content) {
		console.log(content);
	});
	Instascan.Camera.getCameras().then(function (cameras) {
		if (cameras.length > 0) {
			scanner.start(cameras[0]);
		} else {
			console.error('No cameras found.');
		}
	}).catch(function (e) {
		console.error(e);
	});
</script>