@{
    ViewData["Title"] = "Swap";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

Will allow swapping DASH for BTC, LTC, ETH or BCH later on (at cheaper rates than competing services like Shapeshift or Changelly) if this project gets continued funding from the DASH network.

<br/>

<div class="card-grid exchange-card-grid">
	<div class="card-market">
		<div class="header" style="min-width: 332px">
			<a id="precise-mode" href="#" title="Precise mode allows you to specify an exact amount you will receive, the deposit amount is calculated" style="float: right">Precise</a>
			<a id="quick-mode" href="#" title="Quick mode, just select the coins to exchange and send any amount, which will be converted at the current market rate" style="float: right;background-color: #4990e2">Quick</a>
			<div class="no-img"><div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-right: 116px;">Choose Assets to Exchange</div></div>
		</div>
		<div class="container-fluid" style="min-width: 332px">
			<center>
				<div class="row">
					<center>
						<a id="swap-button" href="#" title="Swap Deposit and Receive coins">Swap</a>
					</center>
					<table style="width:100%">
						<tbody>
						<tr>
							<td align="center">
								<label class="date">Deposit <span id="deposit-coin-symbol">DASH</span></label>
								<div id="deposit-coin" data-coin-symbol="BTC">
									<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#coin-selection-modal" data-exchange-direction="deposit">
										<span>
											<img id="deposit-coin-image" src="/images/coins/dash.png">
											<h4>
												<span id="deposit-coin-name">Dash</span>
											</h4>
										</span>
									</button>
								</div>
								<input type="number" autofocus="" step="0.001" class="borderless-input amount-preview-input" style="margin: 5px; width: 120px;" placeholder="Deposit preview" id="deposit-preview" oninput="calculateAmount(this.value, true)" value="0.1">
							</td>
							<td align="center" style="max-width: 45px; text-align: center;vertical-align: middle">
								<img src="/images/Arrow.png" style="margin-left: 7px" title="Current Rate">
								<br>
								<span id="rate-preview" style="color: gray;" title="Current Rate">2.525</span>
							</td>
							<td align="center">
								<label class="date">Receive <span id="receive-coin-symbol">ETH</span></label>
								<div id="receive-coin" data-coin-symbol="DASH">
									<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#coin-selection-modal" data-exchange-direction="receive">
										<span>
											<img id="receive-coin-image" src="/images/coins/ether.png">
											<h4>
												<span id="receive-coin-name">Ether</span>
											</h4>
										</span>
									</button>
								</div>
								<input type="number" step="0.001" readonly="" class="borderless-input amount-preview-input" style="margin: 5px; color: gray; width: 100px;" placeholder="0.04985" id="receive-preview" oninput="calculateAmount(this.value, true)">
							</td>
						</tr>
						</tbody>
					</table>
					<div class="col-xs-12">
						<div></div>
						<input type="range" style="width: 100% !important; margin: 0; margin-top: 10px; margin-bottom: 24px;padding: 0; background: #E6F0F8;" id="amountRange" value="0.1" step="0.001" min="0.001" max="0.5" title="Use this slider to preview how many coins you would receive at the current rate (excluding fees)" oninput="calculateAmount(this.value, false)" onchange="calculateAmount(this.value, false)">
					</div>
				</div>
				<div class="row">
					<input type="text" class="borderless-input" id="receiveAddress" name="receiveAddress" style="width: 90%" title="This is where you get all your exchanged funds transfered to" placeholder="Your ETH receive address">
				</div>
				<div class="row">
					<div class="alert alert-danger" role="alert" style="display: none;height: 50px;" id="init-exchange-error">
					</div>
				</div>
				<div class="row">
					<br>
					<input type="submit" id="init-exchange-button" value="Continue" class="btn btn-primary btn-lg btn-block" style="margin: 0; width:95%">
					<br>
				</div>
			</center>
		</div>
	</div>
	<br><br><br><br>
</div>