@{
	ViewData["Title"] = "Tipping";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

MyDashWallet allows you to tip other people DASH directly on Twitter, Reddit, Discord@*, Telegram, YouTube, Facebook*@ or via Email.
<br /><br />
Tip anyone directly from your <a href="/">unlocked wallet</a>: Instead of sending directly to an Dash address select one of the other options and send out your Dash, we will notify the receiver for you. Or simply write your tip (<b>Dash, mDASH, $, Usd, Euro</b> or even <b>Cookies</b> or <b>Beers</b>) in any of the supported platforms where we have bots running and listening:<br /><br />
<ul>
	<li><b><a href="https://twitter.com/hashtag/dash">Twitter</a></b>: Mention <a href="https://twitter.com/MyDashWallet">@@MyDashWallet</a> in your tweet reply and the amount you want to tip, for example: <pre>@@MyDashWallet thanks, here is 0.1mDASH</pre>
	Or write a new tweet to the person you want to tip and also mention @@MyDashWallet in there like ("a beer" will tip the equivalent Dash amount of $1.00, "cookie" is $0.50, etc.):<pre>@@TheDesertLynx Superb article, have a beer on me @@MyDashWallet</pre></li>
	<li><b><a href="https://www.reddit.com/r/dashpay/">Reddit</a></b>: <a href="https://reddit.com/u/MyDashWallet">/u/MyDashWallet</a> is listening to all sub reddits and will allow you to tip or check your balance, deposit, withdrawal, etc. (<a href="https://reddit.com/u/MyDashWallet">all commands explained here</a>), for example reply to a post you like with: <pre>/u/MyDashWallet Great website, here is 1 mDASH</pre></li>
	<li><b><a href="https://discordapp.com/invite/9z8zX5j">Discord</a></b>: Check if the MyDashWallet bot is running on your server (e.g. <a href="https://discordapp.com/invite/9z8zX5j">Dash on Discord</a>), if not ask the admins to add the bot: <a href="https://discordapp.com/api/oauth2/authorize?client_id=423162737372299265&permissions=18432&scope=bot">@@MyDashWallet#4428 (click to autorize if you are a server admin)</a>. You can issues commands to the bot like: !price, !help, !balance, !deposit, !withdrawal, !account or !tip, for example: <pre>!tip @@TheDesertLynx $1.50 great article</pre></li>
	@*<li><b><a href="https://t.me/DashDigitalCash">Telegram</a></b>: Check if the MyDashWallet bot is running in your channel (e.g. <a href="https://t.me/DashDigitalCash">DashDigitalCash</a>) and issue commands like /tip, /price or /balance, for example: <pre>/tip @@MarkMason $0.1 thanks for getting rid of the spam</pre></li>*@
	<li><b>Other</b>: We don't have bots running on other social platforms yet, but you can still easily tip anyone via email (select the email option when sending from your unlocked wallet). You can also tip yourself via email and then give the link to anyone (same goes for private messages you receive on reddit, discord or twitter), but be aware ANYONE that has this link can access all the funds on that address, don't post it publicly.</li>
</ul>
<br />

<h3>Can I tip without having any Dash in MyDashWallet yet?</h3>
Yes, unlike most other tipping services we do not require you to deposit Dash (via the /deposit command). If you have a balance (from previous tips or deposits by you) it will be used for tipping, if your tip exceeds your balance the bot will notify you to send Dash directly to the receiver via a link. Note 2018-03-22: This feature is currently under development and only available on the beta site until testing is done.
<br /><br />
This means you can use MyDashWallet tipping completely <b>trustless</b>, never having any Dash outside of your control, but in order to do that you have to confirm every single tip yourself (either with your hardware wallet or your keystore wallet). MyDashWallet makes this easy with simple link, unlock, send, confirm, done workflow, but we are aware that for users that tip often this isn't as nice as sitting on the couch and randomly tipping people while reading posts, articles or checking out videos.
<br /><br />
For that reason MyDashWallet supports a <b>tipping pot</b> as well (check via the /balance command). Anything you receive via tips or any Dash you send to your address given via the /deposit command will end up in your tipping pot for future use. If you have redirected your receive address (via /account) to an address only you control MyDashWallet will still send all received tips to that address, but it cannot send any Dash and will create a new address next time you call /tip, /account or /deposit.
<br /><br />
<h3>What happens if the receipent doesn't use MyDashWallet yet?</h3>
It doesn't matter, MyDashWallet simply sends Dash from your address to any other address, like any other Dash wallet also does. However if you tip someone in one of the social platforms or via email, the receipent automatically gets a new account he can log into with one click to claim his Dash, send it anywhere else, keep it or tip it to someone else.
<br /><br />
<h3>I made a mistake, can I get my tip back?</h3>
If you made a mistake while tipping (invalid dash address, invalid email, unknown user, etc.) MyDashWallet will immediately inform you and cancel the tip right away. However if you send someone Dash and the transaction is on the blockchain, it is irreversable and cannot be claimed back. We are aware that tipping someone via Reddit, Twitter, etc. or via Email doesn't mean the receiver will actually claim his newly received Dash. For this reason there is a time-out if the receiver DOES NOT have a MyDashWallet yet: After 7 days newly created tip accounts will be destroyed again and all funds will be send back to the original sender. No time-outs for existing users, once you receive Dash and see it in your balance, it is yours, we will never take it back. To feel safe we recommend moving any received Dash to an address only you control (either on a hardware wallet or via your own keystore, then only you control the funds via your private keys). You can also tell the MyDashWallet bot to use a specific Dash address for receiving (via the /account command), in this case the funds are always under your control, we can't refund or help with any issues in this case.