@{
    ViewData["Title"] = "Tipping";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

MyDashWallet will allow you to tip other people directly with DASH on Twitter, Reddit, Discord or via Email (more platforms to come).

<br />
<br />
Preview on how to tip DASH on Discord:
<br />
<img src="/images/Preview/MyDashWalletPreview3Discord.png" />
<br />
<br />
Preview on how to tip DASH on Reddit:
<br />
<img src="/images/Preview/MyDashWalletPreview3Reddit.png" />
<br />
<br />
Preview on how to tip DASH on Telegram:
<br />
<img src="/images/Preview/MyDashWalletPreview3Telegram.png" />
<br />
<br />
Preview on how to tip DASH on Twitter:
<br />
<img src="/images/Preview/MyDashWalletPreview3Twitter.png" />
<br />
<br />
Preview on how to tip DASH via Email:
<br />
<img src="/images/Preview/MyDashWalletPreview3Email.png" />