@{
	ViewData["Title"] = "Check any transaction";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<script>
	function checkTx(txId) {
		location.href = "https://explorer.dash.org/tx/" + txId;
	}
</script>

Enter Transaction Id to check (if you received or send any Dash, each action shows up as a transaction in your wallet):
<input id="tx" name="tx" class="form-control ng-pristine ng-valid ng-empty is-invalid ng-touched" placeholder="Transaction Id you got when sending or receiving DASH" aria-label="Enter a tx id" onchange="checkTx(this.value)">
<ul class="account-info">
	<li ng-show="ajaxReq.type != 'CUS'" class="">
		<a class="btn btn-primary ng-scope" href="https://explorer.dash.org/tx/e0cc04d1eb274d6cbfd51e6965931d74ec225c4f2032bac04f08781f600c2f33" target="_blank" rel="noopener noreferrer">
			Use DASH Explorer
		</a>
	</li>
	<li ng-show="ajaxReq.type != 'CUS'" class="">
		<a href="https://live.blockcypher.com/dash/tx/e0cc04d1eb274d6cbfd51e6965931d74ec225c4f2032bac04f08781f600c2f33/" target="_blank" rel="noopener noreferrer" class="btn btn-primary ng-scope">
			Use Blockcypher.com
		</a>
	</li>
	<li ng-show="ajaxReq.type != 'CUS'" class="">
		<a href="https://chainz.cryptoid.info/dash/tx.dws?e0cc04d1eb274d6cbfd51e6965931d74ec225c4f2032bac04f08781f600c2f33" target="_blank" rel="noopener noreferrer" class="btn btn-primary ng-scope">
			Use CryptoId.info
		</a>
	</li>
</ul>