.card-grid {
    margin: 0px auto;
}

.exchange-card-grid {
	/*position: relative;*/
	width: 50%;
	border: 1px solid black;
}
.col-lg-12 {
	width: 45%;
	float: left;
}
/* SMALL DEVICES - BASED ON BOOTSTRAP LAYOUT BREAKS */
@media only screen and (max-width: 897px) {
	.exchange-card-grid {
		position: relative;
		float: none;
		width: 100%;
	}
	.col-lg-12 {
		width: 100%;
		float: none;
	}
}

.card-market {
    border-radius: 5px 5px 0 0;
}

    .card-market .header .label-tag {
        float: left;
        display: block;
        font-size: 11px;
        text-transform: uppercase;
        margin: 0;
        padding: 1px 8px;
        position: absolute;
        top: 10px;
        left: -6px;
        background-color: #555465;
    }

        .card-market .header .label-tag.closing {
            background-color: #bc337a;
        }

        .card-market .header .label-tag.new {
            background-color: #33bc8e;
        }

        .card-market .header .label-tag.live {
            background-color: #f2ad3f;
        }


    .card-market .header {
        background-color: #24243A;
        position: relative;
    }

    .card-market .img {
        border-radius: 5px 5px 0 0;
        mix-blend-mode: luminosity;
    }

    .card-market img {
        border-radius: 5px 5px 0 0;
        padding: 0;
    }

	.card-market .no-img {
		background-color: #c7c5ce;
		height: 36px;
		border-radius: 5px 5px 0 0;
		padding: 10px;
		padding-left: 26px;
		color: #3C3D4F;
		font-weight: bold;
	}

    .card-market .container-fluid {
        border-radius: 0 0 5px 5px;
        background-color: #fff;
    }

    .card-market .breadcrumbs {
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: rgba(36, 36, 58, 0.5);
        margin: 20px 0;
    }

        .card-market .breadcrumbs a {
            color: rgba(36,36,58,0.5);
        }

    .card-market .title {
        color: #24243A;
        font-size: 16px;
        line-height: 24px;
        display: block;
        font-weight: bold;
        margin-bottom: 20px;
    }

        .card-market .title:hover {
            color: #000;
        }

    .card-market table {
        color: #777;
        font-size: 12px;
        line-height: 24px;
        font-weight: 300;
    }

    .card-market tr:nth-child(1) {
        color: #4990e2;
        font-weight: bold;
    }

    .card-market table td, .card-market table th {
        border: none !important;
    }

    .card-market .probability {
        font-size: 40px;
        color: #362f63;
        font-weight: bold;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .card-market .footer {
        padding: 17px 0;
    }

        .card-market .footer p {
            margin: 0;
        }

    .card-market .date {
        font-size: 12px;
        line-height: 16px;
        color: #362f63;
        padding-right: 0;
				margin-left: 15px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .card-market .volume {
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        color: #362f63;
        padding-left: 0;
        font-weight: bold;
    }

.asteriskField {
    display: none;
}

/* D3 CHART SECTION */

.d3-cardChart {
    margin-bottom: 16px;
}

.d3-bullet:hover {
    cursor: none;
}

.d3-tip {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    box-sizing: border-box;
    padding: 2px 6px;
    border-radius: 5px;
    border: none;
    background-color: #3a3063;
}

    .d3-tip:before {
        content: "";
        position: absolute;
        top: -3px;
        bottom: auto;
        left: auto;
        left: 45%;
        border-width: 0 3px 3px;
        border-color: #3a3063 transparent;
        border-style: solid;
        display: block;
        width: 0;
    }

/* MARKET TABLE SECTION */

#market-table {
    width: 100%;
}

    #market-table a {
        color: #c7c5ce;
        text-decoration: none;
    }

        #market-table a:hover {
            color: #60dcf2;
        }

    #market-table td.event span.label-tag {
        color: white;
        float: left;
        display: block;
        text-transform: uppercase;
        margin: 0;
        padding: 0px 8px;
        margin-right: 8px;
        margin-top: 0px;
        position: relative;
        border-radius: 10px;
        font-size: 9px;
        font-weight: 500;
        line-height: 1.7;
        background-color: #555465;
    }

        #market-table td.event span.label-tag.empty {
            display: none;
        }

        #market-table td.event span.label-tag.closing {
            background-color: #bc337a;
        }

        #market-table td.event span.label-tag.new {
            background-color: #33bc8e;
        }

        #market-table td.event span.label-tag.live {
            background-color: #f2ad3f;
        }

    #market-table td.event {
        width: 100%;
    }

        #market-table td.event div.event-wrapper {
            position: relative;
            width: 100%;
        }

        #market-table td.event div.event-contents {
            position: absolute;
            height: 40px;
            overflow-y: hidden;
            padding-right: 12px;
        }

            #market-table td.event div.event-contents .icon-ellipsis {
                position: absolute;
                right: 12px;
                bottom: 0px;
                width: 120px;
                z-index: 1;
                height: 20px;
                background: -moz-linear-gradient(left, rgba(36, 36, 58, 0) 0%, rgba(36, 36, 58, 1) 70%);
                background: -webkit-linear-gradient(left, rgba(36, 36, 58, 0) 0%,rgba(36, 36, 58, 1) 70%);
                background: linear-gradient(to right, rgba(36, 36, 58, 0) 0%,rgba(36, 36, 58, 1) 70%);
            }

                #market-table td.event div.event-contents .icon-ellipsis:before {
                    float: right;
                    content: '';
                }

        #market-table td.event a {
            font-weight: 700;
            color: #c7c5ce;
        }

            #market-table td.event a:hover {
                color: #fff;
            }

            #market-table td.event a:first-of-type::after {
                content: '\2022';
                padding: 4px 8px;
                color: #9B9B9B;
            }

        #market-table td.event span {
            font-weight: 300;
            color: #9B9B9B;
        }

    #market-table td.smart-column a {
        max-width: 128px;
        overflow-x: hidden;
    }

    #market-table td.smart-column .marquee div {
        margin-left: 0 !important;
    }

    #market-table tbody tr {
        border-top: 1px solid rgba(199, 197, 206, 0.1);
        border-bottom: 1px solid rgba(199, 197, 206, 0.1);
    }

#betslip tbody tr {
    border: none;
}

#market-table tr th {
    font-weight: normal;
    font-size: 12px;
    color: #c7c5ce;
}

/* TABLE ROW.ITEM & HEADER SETUP */

#market-table .competition {
    white-space: nowrap;
}

#market-table .dropdown {
    position: relative;
    display: inline-block;
}

    #market-table .dropdown:hover button.dropdown-button {
        background: #202035;
    }

#market-table .dropdown-button {
    background-color: transparent;
    color: rgba(199, 197, 206, 0.3);
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    position: relative;
}

#market-table .dropdown-content {
    background-color: #202035;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 2;
    right: 0;
}

    #market-table .dropdown-content a {
        background: #202035;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        color: rgba(199, 197, 206, 0.4);
    }

        #market-table .dropdown-content a:hover {
            color: rgb(199, 197, 206);
        }

#market-table .dropdown:hover .dropdown-content {
    display: block;
}

/*  SUGGESTIONS SECTION */

.suggestion-table {
    position: relative;
    min-width: 600px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

    .suggestion-table .suggested-row:first-child .suggestions-wrapper {
        margin-bottom: 0px;
        margin-top: 0px;
        width: 100%;
    }

    .suggestion-table .suggested-row:last-child .suggestions-wrapper {
        margin-bottom: 0px;
    }

    .suggestion-table div[id^=suggestions-collapsable-] .suggested-row:first-child .suggestions-wrapper {
        margin-top: 16px;
    }

.suggestions-collapser {
    position: absolute;
    right: -14px;
    top: 14px;
    font-size: 12px;
}

.suggestions-wrapper {
    margin-top: 16px;
    overflow-y: hidden;
    background: #2d2d4a;
}

.asks-carousel {
    direction: ltr;
}

.bids-carousel {
    direction: rtl;
}

.bids-carousel, .asks-carousel {
    width: 33%;
    margin: 0;
    float: left;
    margin-bottom: -17px; /*  hide the scrollbar */
    overflow: hidden;
    overflow-x: scroll;
    display: block;
}

#market-table > tr {
    padding: 10px;
}

.suggested-outcome {
    position: relative;
    color: white;
    background-color: #2d2d4a;
    transition: 0.2s color;
    width: 34%;
    font-size: 12px;
    line-height: 1.33;
    padding: 8px 12px;
    height: 47px;
    float: left;
    font-weight: bold;
    cursor: pointer;
}
    /* .suggested-outcome:after{
    position:absolute;
    right: 8px;
    top: 0px;
    bottom: 0px;
    width: 24px;
    content: '';
    z-index: 1;
    pointer-events: none;
    background: -moz-linear-gradient(left, rgba(45,45,74,0) 0%, rgba(45,45,74,1) 100%);
    background: -webkit-linear-gradient(left, rgba(45,45,74,0) 0%,rgba(45,45,74,1) 100%);
    background: linear-gradient(to right, rgba(45,45,74,0) 0%,rgba(45,45,74,1) 100%);
} */
    .suggested-outcome.disabled {
        opacity: 0.5;
    }

    .suggested-outcome:hover,
    .suggested-row.selected .suggested-outcome {
        color: #60dcf2;
    }

    .suggested-outcome .name {
        display: block;
        word-break: break-all;
        overflow: hidden;
        height: 16px;
        position: relative;
    }

    .suggested-outcome .icon-ellipsis {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 44px;
        z-index: 1;
        height: 100%;
        background: -moz-linear-gradient(left, rgba(45,45,74,0) 0%, rgba(45,45,74,1) 70%);
        background: -webkit-linear-gradient(left, rgba(45,45,74,0) 0%,rgba(45,45,74,1) 70%);
        background: linear-gradient(to right, rgba(45,45,74,0) 0%,rgba(45,45,74,1) 70%);
    }

        .suggested-outcome .icon-ellipsis:before {
            float: right;
            content: '';
        }

    .suggested-outcome .current_position {
        float: left;
        color: #4990e2;
        font-size: 11px;
    }

    .suggested-outcome .future_position {
        color: #c7c5ce;
        font-size: 11px;
    }

        .suggested-outcome .future_position .icon-right {
            top: -1px;
            font-size: 12px;
            position: relative;
        }

.suggestions-wrapper .dragscroll:active button {
    cursor: ew-resize;
    cursor: -moz-ew-resize;
    cursor: -webkit-ew-resize;
}

.suggested-order {
    color: white;
    text-align: left;
    min-height: 48px;
    height: 48px;
    padding: 8px 12px;
    width: 0%;
    line-height: 1.33;
    min-width: 33.33333%;
    border-color: #23233a;
    outline: 0;
    position: relative;
}

button.suggested-order:hover {
    opacity: 1 !important;
    /* border: solid 1px #23233a !important; */
}

button.suggested-order.selected,
button.suggested-order:active,
button.suggested-order.selected:focus {
    opacity: 1 !important;
    /* border: solid 1px #ffffff !important; */
}

button.suggested-order:before {
    position: absolute;
    left: 0px;
    top: 0px;
    border-bottom: 0px solid #fff;
    content: "";
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.0);
    transition: 0.2s border-bottom, 0.2s background-color;
    user-select: none;
    pointer-events: none;
}

button.suggested-order:hover:before {
    border-bottom: 2px solid #fff;
}

button.suggested-order.selected:before {
    border-bottom: 4px solid #fff;
}

button.suggested-order.selected.on-full-amount:before {
    border-bottom: 6px solid #fff;
}

#market-table tr:hover #suggestion-table .suggested-row:hover {
    background: #222236;
}

#market-table tr:hover .suggestions-wrapper #suggestion-table .suggested-row:hover .suggestions-wrapper {
    background: #24243a !important;
}

.suggested-order.suggested-bids {
    background: rgba(51, 188, 142, 1);
    ;
    float: right;
}

.suggested-order.suggested-asks {
    background: rgba(188, 51, 122, 1);
    float: left;
}

.suggested-order .price {
    font-weight: bold;
    direction: ltr;
}

.suggested-order .amount {
    font-weight: 100;
}

.bids-wrapper,
.asks-wrapper {
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.placing-against, .odds-against {
    color: #bc337a !important;
}

.placing-on, .odds-on {
    color: #33bc8e !important;
}

th span.odds {
    padding-left: 0;
    padding-right: 12px;
}

    th span.odds:first-of-type {
        padding-right: 36px;
        padding-left: 0px;
    }

/*  BETSLIP SECTION */

#betslip {
    background-color: #202035;
}

#betslip-holder {
    position: relative;
    padding-bottom: 32px;
}

    #betslip-holder div.alert {
        width: 100%;
        display: block;
        color: white;
        margin: 0px;
    }

#betslip table {
    width: 100%;
}

    #betslip table tr td {
        padding: 8px 12px !important;
    }

        #betslip table tr td:last-of-type {
            padding: 8px !important;
        }

#betslip input[type=number] {
    float: right;
    text-align: left;
    color: #FFFFFF;
    background: transparent;
    border-bottom: 1px solid #2d4369;
    max-width: 60px;
    -moz-appearance: textfield;
}

    #betslip input[type=number]::-webkit-inner-spin-button,
    #betslip input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

        #betslip input[type=number]::-webkit-inner-spin-button:hover,
        #betslip input[type=number]::-webkit-outer-spin-button:hover {
            color: #60dcf2;
        }

    #betslip input[type=number]:hover,
    #betslip input[type=number]:hover ~ .signal:not(:empty) {
        border-color: #4990e2;
    }

    #betslip input[type=number]:focus,
    #betslip input[type=number]:focus ~ .signal:not(:empty) {
        outline: 0;
        border-color: #60dcf2;
    }

/* BEGIN NUMBER SPINNER */
#betslip label.spinner-label {
    font-weight: lighter;
    color: grey;
    float: left;
    margin-top: 4px;
    margin-right: 4px;
}

#betslip .custom-spinner {
    float: left;
}

    #betslip .custom-spinner span.signal:not(:empty) {
        float: left;
        color: white;
        padding: 2px 0px 2px 2px;
        margin-right: -2px;
        border-bottom: 1px solid #2d4369;
    }

    #betslip .custom-spinner span.signal.percentage {
        float: right;
        position: relative;
        right: -40px;
        width: 0;
        padding-top: 3px;
        padding-bottom: 1px;
        border: none;
    }

#betslip .custom-spinner-button input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

    #betslip .custom-spinner-button input:focus {
        outline: 0;
    }

#betslip .custom-spinner-nav {
    float: right;
    position: relative;
    left: 8px;
}

#betslip .custom-spinner-button {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    background: transparent;
    text-align: center;
    font-size: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 0.0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    #betslip .custom-spinner-button.custom-spinner-up {
        position: absolute;
        /* border-bottom: 1px solid #2d4369; */
        top: 0px;
        left: 3px;
    }

    #betslip .custom-spinner-button.custom-spinner-down {
        position: absolute;
        /* border-top: 1px solid #2d4369; */
        top: 12px;
        left: 3px;
    }

        #betslip .custom-spinner-button.custom-spinner-up span,
        #betslip .custom-spinner-button.custom-spinner-down span {
            color: #2d4369 !important;
        }

            #betslip .custom-spinner-button.custom-spinner-up span:hover,
            #betslip .custom-spinner-button.custom-spinner-down span:hover {
                color: #4990e2 !important;
            }

            #betslip .custom-spinner-button.custom-spinner-up span:active,
            #betslip .custom-spinner-button.custom-spinner-down span:active {
                color: #60dcf2 !important;
            }
/* END NUMBER SPINNER */

#betslip span {
    color: grey
}

    #betslip span.return,
    #betslip span.return span {
        color: #4990e2;
    }

#return-value {
    color: #4990e2;
}

#betslip input[type=submit] {
    padding: 8px 16px;
    background: transparent;
    border: 1px solid #2d4369;
    color: #4990e2;
    float: right;
}

    #betslip input[type=submit]:not([disabled]):hover {
        border-color: #4990e2;
    }

    #betslip input[type=submit]:disabled {
        opacity: 0.5;
    }

    #betslip input[type=submit] * {
        display: none;
    }

.sort-tag.btn {
    text-transform: uppercase;
    background-color: #2d2d4a;
}

#market-table tr[data-market-row] > td {
    vertical-align: top;
    padding-top: 22px;
}

    #market-table tr[data-market-row] > td:last-child {
        padding-top: 0px;
    }

    #market-table tr[data-market-row] > td:not(:last-child),
    #market-table tr > th:not(:last-child) {
        padding-left: 0px;
        padding-right: 12px;
    }

/* BETSLIP RESPONSE SECTION */

div.betslip-order-response {
    top: 0px;
    left: 0px;
    width: 100%;
}

    div.betslip-order-response .response {
        height: 55px;
        padding: 8px 0;
        display: flex;
        align-items: center;
    }

        div.betslip-order-response .response span {
            color: white;
        }

        div.betslip-order-response .response.success {
            background-color: #33bc8e;
        }

        div.betslip-order-response .response.danger {
            background-color: #bc337a;
        }

        div.betslip-order-response .response.warning {
            background-color: #f2ad3f;
        }

        div.betslip-order-response .response.info {
            background-color: #4990e2;
        }

        div.betslip-order-response .response span {
            color: #fff;
            text-transform: uppercase;
        }

        div.betslip-order-response .response button {
            padding: 8px 24px;
            background: transparent;
            border: 1px solid #ffffff;
            opacity: 0.7;
            color: #ffffff;
            font-size: 12px;
            margin-right: -6px;
        }

            div.betslip-order-response .response button:hover {
                opacity: 1.0;
            }

.btn-toggle {
    width: 100%
}

    .btn-toggle .btn {
        width: 50%;
        padding: 8px 9px;
        text-transform: uppercase;
        font-weight: 500;
    }

        .btn-toggle .btn:not(.active) {
            color: #24243a;
            background-color: transparent;
            border-color: #ddd;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
        }

            .btn-toggle .btn:not(.active):hover {
                background-color: rgba(0,0,0,0.1);
            }

        .btn-toggle .btn.active {
            -webkit-box-shadow: inset 0 0 0;
            box-shadow: inset 0 0 0;
        }

    .btn-toggle .btn-success {
        background-color: #33bc8e;
        border-color: #33bc8e;
    }

    .btn-toggle .btn-danger {
        background-color: #bc337a;
        border-color: #bc337a;
    }

/* SMALL DEVICES - BASED ON BOOTSTRAP LAYOUT BREAKS */
@media only screen and (max-width: 767px) {
    div.betslip-order-response .response {
        display: block;
        height: 120px;
    }

        div.betslip-order-response .response button {
            width: 100%;
            margin-right: auto;
        }

        div.betslip-order-response .response span {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
        }
}

/* LARGE DEVICES - BASED ON CARD LAYOUT BREAKS */
@media only screen and (max-width: 1183px) {
    #market-table tr[data-market-row] > td:not(:last-child), #market-table tr > th:not(:last-child) {
        padding: 0;
    }

    .suggestion-table {
        min-width: auto;
    }

    .suggestions-collapser {
        right: 10px;
        top: -44px;
    }

    #market-table {
        width: 100%
    }
        /* Force table to not be like tables anymore */
        #market-table table,
        #market-table thead,
        #market-table tbody,
        #market-table th,
        #market-table tr[data-market-row] td,
        #market-table tr[data-market-row] {
            display: block;
        }

        #market-table thead {
            float: right;
        }

            #market-table thead tr {
                width: auto;
                border: none;
            }

        #market-table td.event div.event-contents {
            position: inherit;
            height: 45px;
        }

        #market-table tr[data-market-row] {
            margin-top: -1px;
            float: left;
            position: relative;
            padding-bottom: 12px;
        }

            #market-table tr[data-market-row] th:before {
                content: attr(id)
            }

            #market-table tr[data-market-row] td {
                position: relative;
            }

                #market-table tr[data-market-row] td:last-child {
                    padding-left: 0;
                    padding: 0;
                }

            #market-table tr[data-market-row] > td:first-child {
                font-size: 14px;
                font-weight: bolder;
                padding-top: 20px;
                padding-left: 12px;
                padding-bottom: 5px;
                margin-right: 10%;
            }

            #market-table tr[data-market-row] td:first-child a {
                text-decoration: none;
                font-size: 16px;
            }

        #market-table tr {
            display: table;
            width: 100%;
        }

            #market-table tr[data-market-row] td:before {
                position: absolute;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
            }

            #market-table tr:hover {
                background: none;
            }

                #market-table tr:hover .suggestions-wrapper {
                    background: #2d2d4a !important;
                }

            #market-table tr[data-market-row] > td.smart-column {
                display: block;
                padding-top: 6px;
                padding-bottom: 2px;
                text-align: right;
                position: absolute;
                left: -10px;
                top: -20px;
                width: 0px;
                height: 0px;
            }

    #mobile-info {
        color: #c7c5ce;
        font-weight: bold;
        font-size: 12px;
        padding: 8px 12px 0px;
    }

        #mobile-info span:first-of-type::after {
            content: '\2022';
            padding: 8px 16px;
        }

    table > thead > tr > th > div.dropdown {
        float: left;
    }

    #betslip-holder table {
        display: table !important;
        width: 100%;
    }

        #betslip-holder table tr td {
            display: table-cell !important;
        }

    #market-table td.event span.label-tag {
        margin-top: 6px;
    }
}

/* MEDIUM DEVICES - BASED ON CARD LAYOUT BREAKS */
@media only screen and (max-width: 992px) {
    #floating-search .search-form-wrapper {
        width: 80%;
    }

    .suggested-order {
        min-width: 49.999% !important;
    }
}

/* SMALL DEVICES - BASED ON CARD LAYOUT BREAKS */
@media only screen and (max-width: 895px) {
    #betslip-holder input[type=text] {
        max-width: 100%;
        width: 100%;
    }

    #betslip table tr td:last-of-type {
        padding: 16px !important;
    }

    #betslip-holder table tr td {
        display: inline-block !important;
    }

    #market-table td.event div.event-contents {
        height: 74px;
    }

    #betslip-holder td:nth-child(2) > span,
    #betslip-holder td:nth-child(3) > span {
        width: auto;
        display: block;
        float: left;
    }

    #betslip-holder input[type=submit] {
        width: 100%;
    }

    #betslip-holder > form > table > tbody > tr > td:nth-child(1) {
        display: none !important;
    }

    #betslip-holder > form > table > tbody > tr > td:nth-child(2),
    #betslip-holder > form > table > tbody > tr > td:nth-child(3) {
        width: 33.33%;
        float: left;
    }

    #betslip-holder > form > table > tbody > tr > td:nth-child(4) {
        width: 33.33%;
    }

        #betslip-holder > form > table > tbody > tr > td:nth-child(4) span {
            line-height: 20px;
            width: 100%;
            display: block;
            text-align: center;
            margin-top: 4px;
        }

    #betslip-holder > form > table > tbody > tr > td:nth-child(5) {
        width: 100%;
        padding: 16px !important;
    }

    #betslip-holder input[type="submit"] {
        width: 100%;
    }

        #betslip-holder input[type="submit"].place-on {
            color: rgb(51, 188, 142);
            border-width: 1px;
            border-style: solid;
            border-color: rgb(51, 188, 142);
            border-image: initial;
            background: rgba(51, 188, 142, 0.2);
        }

        #betslip-holder input[type="submit"].place-against {
            color: rgb(188, 51, 122);
            background-color: rgba(188, 51, 122, 0.2);
            border-width: 1px;
            border-style: solid;
            border-color: rgb(188, 51, 122);
            border-image: initial;
        }

    .suggested-outcome {
        width: 50%;
    }

    .suggested-order {
        min-width: 99.999% !important;
    }

    .bids-carousel, .asks-carousel {
        width: 25%;
    }
}

/* TINY DEVICES - BASED ON CARD LAYOUT BREAKS */
@media only screen and (max-width: 607px) {

    #market-table td.event div.event-contents {
        height: 98px;
    }
}

/* OTHER DEVICES - such as iphone 5 and other tiny device with short virtual pixies range */
@media only screen and (max-width: 360px) {
    #betslip-holder > form > table > tbody > tr > td:nth-child(4) span {
        text-align: left;
    }
}



.btn:hover, .btn-white-solid:hover, .btn-green:hover, .btn-blue:hover, .info-grid__item-link:hover, .btn-blue-dark:hover, .btn-blue-solid:hover {
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,0.1),0 3px 6px rgba(0,0,0,0.08)
}

.btn-large {
	font-size: 24px;
	padding: 10px 25px;
	min-height: 50px;
	border-radius: 25px;
}

.btn-blue-solid {
	background-color: #1c75bc;
	color: #fff !important
}

	.btn-blue-solid:hover {
		background-color: #1e7dc9;
		color: #fff !important
	}

.btn-white-solid {
	border-color: #fff;
	background-color: #f7f7f7;
	color: #1f2122 !important;
	text-decoration: none
}

	.btn-white-solid:hover {
		background-color: #fff
	}

.btn-green {
	background-color: #24b47e;
	color: #fff !important;
	text-decoration: none;
	border: none
}

	.btn-green:hover {
		background-color: #21a775;
		color: #fff !important
	}

#deposit-coin-name, #receive-coin-name {
	font-size: 18px;
	color: black;
}

input, textarea {
	border: 1px solid lightgray;
}

#bookmark-this {
	margin: 4px;
	margin-right: 8px;
	margin-left: 2px;
	padding: 5px 10px;
	background-color: #f0ad4e;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	#bookmark-this:hover {
		background-color: #ec971f;
		text-decoration: none;
	}

	#bookmark-this:active {
		background-color: #ec971f;
	}

#cancel-this {
	padding: 5px 10px;
	margin: 4px;
	background-color: #f07f7f;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	#cancel-this:hover {
		background-color: #e06f6f;
		text-decoration: none;
	}

	#cancel-this:active {
		background-color: #e06f6f;
	}

#copy-this {
	padding: 5px 10px;
	background-color: #60779B;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	#copy-this:hover {
		background-color: #50678B;
		text-decoration: none;
	}

	#copy-this:active {
		background-color: #50678B;
	}

#quick-mode, #precise-mode {
	padding: 5px 10px;
	margin: 4px;
	background-color: gray;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	#quick-mode:hover, #precise-mode:hover {
		background-color: #50678B;
		text-decoration: none;
	}

	#quick-mode:active, #precise-mode:active {
		background-color: #50678B;
	}

#back-to-start {
	padding: 5px 10px;
	background-color: #60779B;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	#back-to-start:hover {
		background-color: #50678B;
		text-decoration: none;
	}

	#back-to-start:active {
		background-color: #50678B;
	}

#min-input-amount, #min-output-result, #max-input-amount, #max-output-result, #precise-input-amount, #precise-output-amount, .input-coin, .output-coin {
	font-weight: bold;
}

.active-icon {
	width: 79px;
	height: 79px;
	display: block;
	margin: auto
}

.inactive-icon {
	width: 60px;
	height: 60px;
	display: block;
	margin: auto;
	margin-top: 10px;
}

.status-icon {
	float: left;
}

.status-icon-separator {
	float: left;
	font-size: 32pt;
	color: #C7C5CE;
}